.btn-nuevo {
  margin-left: 2rem !important;
  padding: 1.2rem !important;
  margin-bottom: 1rem !important;
}

.highlighted-row {
  background-color: #faec9c !important;
  transition: background-color 0.5s ease !important;
}

.no-patients-message {
  color: var(--color-white-light);
  text-align: center;
  padding: 2rem;
  font-style: italic;
}

// Solo en mobile
@media (max-width: 768px) {
  .App-table th,
  .App-table td {
    white-space: nowrap;
    font-size: 0.85rem;
    padding: 0.5rem;
  }

  .App-main-title {
    font-size: 1.3rem;
  }

  .App-buttonTertiary {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .table-responsive {
    margin-bottom: 1rem;
  }
}

.ellipsis-cell {
  max-width: -webkit-fill-available;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

// switch

/* src/styles/_custom-switch.scss */

.guest-switch {
  // ancho y alto opcionales
  .form-check-input {
    width: 2.4rem;
    height: 1.4rem;
    // color de fondo para "No" (unchecked)
    background-color: #dc3545;
    border-color: #dc3545;
    transition:
      background-color 0.3s,
      border-color 0.3s;

    &:focus {
      box-shadow: none;
    }

    // Estilo del knob por defecto
    &::after {
      background-color: #fff;
    }

    // Cuando está checked -> "Sí"
    &:checked {
      background-color: #28a745;
      border-color: #28a745;

      &::after {
        background-color: #fff;
      }
    }
  }

  // Opcional: mover el label fuera de la izquierda
  .form-check-label {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #333;
  }
}
