.container-login {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  min-width: 400px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-formLogin {
    background-color: var(--color-white-light);
    padding: 4rem;
    border-radius: 2rem;
    min-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    input {
      transition:
        border 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        border-color: var(--color-blue-sky);
      }

      &:focus {
        border-color: #007bff; // azul más fuerte
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2); // glow azul suave
      }
    }
  }

  .container-formLogin {
    animation: fadeInUp 0.6s ease;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }

  .error-message {
    color: red;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .form-group {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: #555;
    }

    input {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 0.1rem solid #ccc;
      font-size: 1.6rem;
    }
  }

  .btn-show-password {
    margin-left: 8px;
    border: unset;
    background: darkgray;
    border-radius: 1rem;
    /* width: 3rem; */
    height: 3rem;
  }
}
