.schedule-grid-vertical {
  display: flex;
  gap: 2rem;
}

.schedule-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.bg-primary-c {
  background-color: #f0f4ff !important;
}

.bg-secondary-c {
  background-color: #fef9f0 !important;
}

.day-block {
  display: flex;
  flex-direction: column;
}

.range-list {
  margin: 0;
  padding-left: 1rem;
  list-style-type: disc;
}

.today-row strong {
  color: #007bff;
}

.desktop-w {
  width: 380px;
  max-width: none !important;
  @media (max-width: 768px) {
    // width: auto;
    width: 100px;
  }
}

.specialties-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.badge-secondary {
  background-color: #6c757d;
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.me-1 {
  margin-right: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}

// Switch

.professional-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  // Label a la izquierda
  .form-check-label {
    margin: 0;
    font-weight: bold;
    color: #333;
  }

  .form-check-input {
    // Tamaño del track
    width: 2.5rem;
    height: 1.25rem;
    padding: 0;
    margin: 0;
    position: relative;
    appearance: none;
    background-color: #ccc;
    border-radius: 1.25rem;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;

    // Track cuando está ON
    &:checked {
      background-color: #5dade2; // pastel azul
    }

    // El knob
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 1.1rem;
      height: 1.1rem;
      background: #fff;
      border-radius: 50%;
      transition: transform 0.3s;
    }

    // Movimiento del knob
    &:checked::before {
      transform: translateX(1.25rem);
    }

    // Disabled
    &:disabled {
      background-color: #e9ecef;
      cursor: not-allowed;

      &::before {
        background: #ccc;
      }
    }
  }
}
