.schedule-grid-vertical {
  display: flex;
  gap: 2rem;
}

.schedule-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.bg-primary-c {
  background-color: #f0f4ff !important;
}

.bg-secondary-c {
  background-color: #fef9f0 !important;
}

.day-block {
  display: flex;
  flex-direction: column;
}

.range-list {
  margin: 0;
  padding-left: 1rem;
  list-style-type: disc;
}

.today-row strong {
  color: #007bff;
}

.desktop-w {
  width: 380px;
  max-width: none !important;
  @media (max-width: 768px) {
    // width: auto;
    width: 100px;
  }
}

.specialties-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.badge-secondary {
  background-color: #6c757d;
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.me-1 {
  margin-right: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
