.calendar-wrapper {
  max-width: 350px;
  margin: auto;
  padding: 1rem; // Solo para mobile, controlado abajo
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;

  @media (min-width: 769px) {
    padding: 0; // Sin padding en desktop
  }

  .react-calendar {
    border: none;
    font-family: inherit;
    width: 100% !important;

    &__tile--now {
      background: #e0f7fa;
      color: #00796b;
    }

    &__tile--active {
      background: #00796b;
      color: white;
    }
  }

  .calendar-container {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    width: fit-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 12px !important;
  }
}
