.modal {
    max-height: 90vh;
    overflow-y: auto;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    position: relative;
  }

  .field-error {
    color: red;
    font-size: 1.1rem;
    background: var(--color-white-light);
    width: fit-content;
  }
  