@import "~bootstrap/scss/bootstrap";

:root {
  // PRIMARY (Basado en --rt-color-primary y derivados)
  --color-primary-light: #268aa3;       /* similar a primary-15 */
  --color-primary-dark: #005e75;        /* azul profundo */
  --color-primary-hover: #17829d;       /* primary-35 */
  --color-primary-disabled: #00769340;  /* primary-40 con transparencia */

  // SECONDARY (Basado en --rt-color-secondary y --rt-color-fourth)
  --color-secondary-light: #24a5b8;
  --color-secondary-dark: #21a7ae;
  --color-secondary-hover: #07cfc8;
  --color-secondary-disabled: #24a5b840;

  // TERTIARY (Basado en acentos tipo verde y azul claro)
  --color-tertiary-light: #cce7ed;
  --color-tertiary-dark: #4cfcda;
  --color-tertiary-hover: #d6f6f4;
  --color-tertiary-disabled: #f0f5f9;

  // NEUTRAL (Basado en grises y negros)
  --color-neutral-light: #626262;
  --color-neutral-dark: #343a40;
  --color-neutral-hover: #6c757d;
  --color-neutral-disabled: #706e6f;

  // WHITE
  --color-white-light:     #ffffff;
  --color-white-hover:     #f0f5f9;
  --color-white-disabled:  #d6f6f4;
  --color-white-dark:      #cce7ed;

  // BLACK & ACCENTS
  --color-black: #0d1321;
  --color-blue: #007693;
  --color-blue-dark: #005e75;
  --color-red: #fb1212;
  --color-green: #4cfcda;
  --color-yellow: rgb(236, 203, 93);
}

html {
  font-size: 10px; /* 1rem = 10px */
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem; /* Tamaño base = 16px */
  line-height: 1.5;

  background: linear-gradient(#007693 100%);
  // background: linear-gradient(135deg, var(--color-primary-dark), var(--color-secondary-dark), var(--color-tertiary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  color: var(--color-neutral-light);
  
}

h1 {
  font-size: 4.8rem; /* 48px */
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem; /* 36px */
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 2.8rem; /* 28px */
  font-weight: 500;
  line-height: 1.4;
}

h4 {
  font-size: 2.2rem; /* 22px */
  font-weight: 500;
}

h5 {
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
}

h6 {
  font-size: 1.6rem; /* 16px */
  font-weight: 400;
}

p {
  font-size: 1.6rem; /* 16px */
  line-height: 1.6;
}

small {
  font-size: 1.4rem; /* 14px */
  color: #748cab; /* Color neutral */
}

a {
  color: var(--color-blue);
  transition: 0.5s;
  
  &:hover {
    color: var(--color-blue-dark);
  }
}

.App {
  text-align: center;
  min-height: 100vh; // Asegura que ocupe toda la altura de la pantalla
  justify-content: center; // Centra horizontalmente
  align-items: center; // Centra verticalmente
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  color: var(--color-white-light);
}

.App-buttonSecondary {
  font-size: 1.5rem !important;
  padding: .8rem !important;
  transition: 0.5s !important;
  color: var(--color-white-light);
  border-radius: 2rem;
  width: 130px;
  background-color: var(--color-primary-light);
  &:hover {
      background-color: var(--color-tertiary-disabled) !important;
      font-weight: 500;
      border-color: var(--color-primary-light);
  }
}

.App-buttonTertiary {
  font-size: 1.7rem !important;
  transition: 0.5s !important;
  color: var(--color-primary-light);
  border-radius: 1rem;

  background-color: var(--color-white-light);
  &:hover {
      background-color: var(--color-primary-light) !important;
      font-weight: 500;
      border-color: var(--color-white-light);
      color: var(--color-white-light);
  }
  margin-left: 2rem;
  margin-right: 1rem;
  height: fit-content;
  width: 130px;
  font-weight: 500;
}

.modal-buttons {
  font-size: 1.9rem !important;
  transition: 0.5s !important;
  color: var(--color-primary-light);
  border-radius: 1rem;

  background-color: var(--color-white-light);
  &:hover {
      background-color: var(--color-primary-light) !important;
      font-weight: 500;
      border-color: var(--color-white-light);
      color: var(--color-white-light);
  }
  &:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed;
    border: 1px solid #aaa;
    opacity: 0.6;
  }
  margin-left: 2rem;
  margin-right: 1rem;
  height: fit-content;
  width: 130px;
  font-weight: 500;
}

.error-message {
  color: var(--color-red);
}

.success-message {
  color: var(--color-green);

}

// TABLE ROW COLOR

.inactive-row {
  background-color: #c9c6c6 !important;
  color: #444444;
}

.inactive-cell {
  background-color: #d2ecd9 !important;
  color: #444444;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
