@use '~bootstrap/scss/bootstrap';

:root {
  // PRIMARY (Basado en --rt-color-primary y derivados)
  --color-primary-light: #268aa3; /* similar a primary-15 */
  --color-primary-dark: #005e75; /* azul profundo */
  --color-primary-hover: #17829d; /* primary-35 */
  --color-primary-disabled: #00769340; /* primary-40 con transparencia */

  // SECONDARY (Basado en --rt-color-secondary y --rt-color-fourth)
  --color-secondary-light: #24a5b8;
  --color-secondary-dark: #21a7ae;
  --color-secondary-hover: #07cfc8;
  --color-secondary-disabled: #24a5b840;

  // TERTIARY (Basado en acentos tipo verde y azul claro)
  --color-tertiary-light: #cce7ed;
  --color-tertiary-dark: #4cfcda;
  --color-tertiary-hover: #d6f6f4;
  --color-tertiary-disabled: #f0f5f9;

  // NEUTRAL (Basado en grises y negros)
  --color-neutral-light: #626262;
  --color-neutral-dark: #343a40;
  --color-neutral-hover: #6c757d;
  --color-neutral-disabled: #706e6f;

  // WHITE
  --color-white-light: #ffffff;
  --color-white-hover: #f0f5f9;
  --color-white-disabled: #d6f6f4;
  --color-white-dark: #cce7ed;

  // BLACK & ACCENTS
  --color-black: #0d1321;
  --color-blue-light: #2290ac;
  --color-blue: #007693;
  --color-blue-dark: #005e75;
  --color-blue-sky: #00cfff;
  --color-red: #fb1212;
  --color-green: #4cfcda;
  --color-yellow: rgb(236, 203, 93);
}

html {
  font-size: 10px; /* 1rem = 10px */
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem; /* Tamaño base = 16px */
  line-height: 1.5;

  // background: linear-gradient(#007693 100%);
  background: linear-gradient(
    135deg,
    var(--color-primary-dark),
    var(--color-secondary-dark),
    #79d3e7
  ) !important;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  color: var(--color-neutral-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 4.8rem; /* 48px */
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem; /* 36px */
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 2.8rem; /* 28px */
  font-weight: 500;
  line-height: 1.4;
}

h4 {
  font-size: 2.2rem; /* 22px */
  font-weight: 500;
}

h5 {
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
}

h6 {
  font-size: 1.6rem; /* 16px */
  font-weight: 400;
}

p {
  font-size: 1.6rem; /* 16px */
  line-height: 1.6;
}

small {
  font-size: 1.4rem; /* 14px */
  color: #748cab; /* Color neutral */
}

a {
  color: var(--color-blue-light);
  transition: 0.2s;

  &:hover {
    color: var(--color-blue-dark);
    font-weight: 500;
  }
}

.App {
  text-align: center;
  min-height: 100vh; // Asegura que ocupe toda la altura de la pantalla
  justify-content: center; // Centra horizontalmente
  align-items: center; // Centra verticalmente
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  color: var(--color-white-light);
}

.App-main-title {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  margin: 0.6rem 1rem;
  background: var(--color-secondary-light);
  margin: 0.6rem;
}

.App-buttonSecondary {
  font-size: 1.5rem !important;
  padding: 0.8rem !important;
  transition: 0.5s !important;
  color: var(--color-white-light);
  border-radius: 2rem;
  font-weight: 500 !important;
  width: 130px;
  background-color: var(--color-primary-light);
  &:hover {
    background-color: var(--color-tertiary-disabled) !important;
    // font-weight: 500;
    border: 1px solid var(--color-primary-light);
  }
}

.App-buttonTertiary {
  border: none;
  font-size: 1.7rem;
  font-weight: 500 !important;
  transition:
    background-color 0.5s,
    color 0.5s;
  color: var(--color-primary-light);
  background-color: var(--color-white-light);
  border-radius: 1rem;
  margin: 0 1rem 0 2rem;
  width: 130px;
  height: fit-content;
  align-self: center;

  &:hover {
    background-color: var(--color-primary-light);
    color: var(--color-white-light);
    box-shadow:
      inset 0 0 0 2px var(--color-white-light),
      0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &.active {
    background-color: var(--color-primary-dark);
    color: var(--color-white-light);
    box-shadow: inset 0 0 0 2px var(--color-white-light);
  }
}

.App-table {
  color: var(--color-neutral-dark);
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.App-table th,
.App-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1.3rem;
  height: 52px;
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 180px;
  overflow: hidden;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.submit-button {
  width: 100%;
  background-color: var(--color-secondary-light);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border-block: 1px solid transparent;
  border-inline: none;
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 1rem;
  transition: 0.2s;

  &:hover {
    border-inline-style: solid;
    border-inline-width: 1px;
    border-inline-color: var(--color-primary-hover);
    border-block-style: solid;
    border-block-width: 1px;
    border-block-color: var(--color-primary-hover);
    background: radial-gradient(
      circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      var(--color-white-hover) 23.22%,
      var(--color-tertiary-disabled)
    ); /* antes: #f8feff y #dff3f5 */
    color: var(--color-blue); /* era --rt-color-primary */
  }
}

.modal {
  border-color: white;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
}

.modal-buttons {
  font-size: 1.9rem !important;
  transition: 0.5s !important;
  color: var(--color-primary-light);
  border-radius: 1rem;

  background-color: var(--color-white-light);
  &:hover {
    background-color: var(--color-primary-light) !important;
    font-weight: 500;
    border-color: var(--color-white-light);
    color: var(--color-white-light);
  }
  &:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed;
    border: 1px solid #aaa;
    opacity: 0.6;
  }
  margin-left: 2rem;
  margin-right: 1rem;
  height: fit-content;
  width: 130px;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1.4rem !important;
    padding: 0.4rem 0.75rem;
    min-width: auto;
  }
}

.error-message {
  color: var(--color-red);
}

.success-message {
  color: var(--color-green);
}

// TABLE ROW COLOR

.App-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  background-color: gainsboro;

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #e9ebf1; // Header
  }

  tr {
    // height: 50px;
    max-height: 50px;
    font-size: 1.2rem;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9fb; // color claro
  }

  tbody tr:nth-child(odd) {
    background-color: #eef3fd; // celeste suave
  }

  tbody tr:hover {
    background-color: #d6eaff !important; // hover más destacado
  }
}

.inactive-row {
  background-color: #c9c6c6 !important;
  color: #444444;
}

.inactive-cell {
  background-color: #d2ecd9 !important;
  color: #444444;
}

// Images

.img-odontoTurno {
  width: 252px;
  height: 64px;
}

.img-iconDiente {
  width: 50px;
  height: 50px;
  margin-bottom: 1.2rem;
  border-radius: 50%;
  border: 2px solid var(--color-secondary-light);
  padding: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Mobile tablas y button

// Responsive tabla y filtro
@media (max-width: 768px) {
  .filter-input {
    width: 100%;
    font-size: 1.2rem;
  }

  .App-table {
    table-layout: auto;
  }

  .App-table th,
  .App-table td {
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0.4rem;
    height: auto;
    max-width: 100px;
  }

  .App-main-title {
    font-size: 1.5rem;
  }

  .App-secondary-title {
    @media (max-width: 768px) {
      font-size: 1.4rem;
      // text-align: center;
    }
  }

  .App-buttonTertiary {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }

  .table-responsive {
    margin-top: 1rem;
  }
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  line-height: 1;
  z-index: 10;
  &:hover {
    color: #ccc;
  }
}

.scrollable-cell {
  max-width: 300px;
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
